*.html
compile.json
config.json
*.spec
temp.py
cheapskate.py

.idea/
__pycache__/
training_data/
logs/
output/
investigate/
references/

frontend/base.py
frontend/test*.py
frontend/*.ui
frontend/*.qrc
