\*.html
*.spec
/*.emp

!onedir.spec
!onefile.spec

compile.json
config.json
config backup.json
config_mine.json
installation_script_old.iss
runtime.json
fast.txt

frontend/base.py
frontend/test*.py
frontend/*.ui
frontend/*.qrc
cheapskate.py
temp.py

.idea/
__pycache__/
training_data/
logs/
logs backup/
output/
pyinstaller-5.3/
investigate/
references/
yolov5_obb/
tesseract/