*.html
compile.json
config.json
config_mine.json
*.spec
!onedir.spec
!onefile.spec
temp.py
cheapskate.py

.idea/
__pycache__/
training_data/
logs/
logs backup/
output/
investigate/
references/
yolov5_obb/

frontend/base.py
frontend/test*.py
frontend/*.ui
frontend/*.qrc
